# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run.
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 14
      - run: npm ci
      - run: npm run lint
  # This workflow contains a single job called "build"
  build:
    environment: deploy
    env:
      CI_REPOSITORY_NAME: ${{ secrets.CI_REPOSITORY_NAME }}
      CI_REPOSITORY_PASSWORD: ${{ secrets.CI_REPOSITORY_PASSWORD }}
      APP_IMAGE: ${{ secrets.APP_IMAGE }}
      PYTHON_APP_IMAGE: ${{ secrets.PYTHON_APP_IMAGE }}
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      # Runs a single command using the runners shell
      - name: Build images and push to docker
        run: bash build.sh
  test:
    needs: build
    environment: deploy
    env:
      CI_REPOSITORY_NAME: ${{ secrets.CI_REPOSITORY_NAME }}
      CI_REPOSITORY_PASSWORD: ${{ secrets.CI_REPOSITORY_PASSWORD }}
      APP_IMAGE: ${{ secrets.APP_IMAGE }}
      PYTHON_APP_IMAGE: ${{ secrets.PYTHON_APP_IMAGE }}
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      # Runs a single command using the runners shell
      - name: Testing app
        run: |
          docker login -u $CI_REPOSITORY_NAME -p $CI_REPOSITORY_PASSWORD
          docker-compose -f docker-compose.test.yaml up -d mysql
          docker-compose -f docker-compose.test.yaml run app  sh -c "sleep 20 && npm run typeorm migration:run && npm run test"